/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

img {
	border-width: 0px;
}


html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
/*  font-size: 100%; */
}

h1 {
  margin-bottom: 10px;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

#header
{
	font-family: Georgia, sans-serif, Verdana;
	padding-top: 25px;
}

#header h1
{
	font-style: italic;
}

#tweet {
	
}

#tweet li {
	list-style-type: none;
	font-size: 0.9em;
}

.tweet_even,
.tweet_odd {
	margin-bottom: 10px;
}

a, a:visited {
	text-decoration: none;
	border-bottom: none;
	color: gray;
}
a:hover{
	text-decoration: none;
	border-bottom: none;
	color: black;
}

#content
{
	font-size: 110%;
	width: 800px;
	text-align: left;
	margin: 3em auto 2em auto;
}

#main
{
	width: 550px;
	margin-right: 30px;
	float: left;
	line-height: 1.5em;
/*	padding: 0px 10px 0px 10px; */
}

#right
{
	width: 220px;
	text-align: left;
	float: right;
}

#footer
{
	width: 800px;
	margin: 3em auto 2em auto;
	border-top: thin dashed gray;
	clear: both;
	padding-bottom: 80px;
	padding-top: 25px;
}

*.block
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-height: 20px;
}

*.block_source
{
	float: right;
	margin: 10px 0em 0em auto;
	font-size: .8em;
	color: gray;
}

.post
{
	padding-top: 25px;
	padding-bottom: 25px;
	clear: both;
}

.post_spacer
{
	margin-bottom: 25px;
}

.post_title
{
	font-size: 1.25em;
	border-bottom: thin dashed gray;
}

.post_date
{
	color: gray;
	font-size: .75em;
	margin-left: 20px;
	float: right;
}

.post_excerpt p
{
	float: left;
	margin: 0px 0px 0px 10px;
}

.post_comments
{
	float: right;
	font-size: .85em;
}
a.read_more
{
	font-size: 0.9em;
}

.mono
{
	font-family: Courier;
	font-size: 12pt;
	white-space: pre;
}

.related_post
{
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: .8em;
	border-bottom: thin dashed gray;
}

.description
{
	font-size: .8em;
}

li 
{
	margin-left: 30px;
}